.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: left;
  border-radius: 8px;
  background: rgb(78, 117, 255);
  border: none;
}
